body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    direction: rtl;
}

div, form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}