/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    direction: rtl;
}

div, form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

body,
div,
form {
    text-align: rtl;
    font-family: Heebo Thin;
}

body {
    margin: 0;
    overflow-x: hidden;
}