body,
div,
form,
label,
input,
button,
Button {
    text-align: right;
    font-family: Heebo Thin;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #121212;

}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 100%;
}

input {
    direction: rtl;
    text-align: right;
}

#root,
body {
    background-color: #121212;
}